<html>
    <link rel="stylesheet" href="/header.css">
    <style>
        body {
  margin: 0px;
  overflow-x: hidden;
}
        .main{
            position: sticky;
            background-color: rgb(2, 16, 71);
            top: 0;
            height:60px;
            width: 100%;
            z-index: 2;
        }

        .bdy{
            position: relative;
            top:20%;
            left:10%;
            margin-top: -25px;
        }
        .bdy p {
            display: inline-block;
            background-color: rgb(77, 16, 105);
            border-radius: 4px;
            width:100px;
            height: 50px;
            text-align: center;
            margin-top: 5px;
            padding-top: 20px;
            margin-left: 6px;
            margin-bottom: 1px;
        }
        #corner{
            display: block;
            background-color: rgb(203, 202, 228);
            width: 100px;;
            color:rgb(8, 7, 7);
            position: relative;
            left:50px;
            top:10px;
            border-radius: 2px;
            padding-top: 5px;
            font-weight: bolder;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .empty{
            position: absolute;
            display: block;
            left:30%;
            top:30%;
            border-radius: 3px;
            height:80px;
            width: 400px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-style:ridge;
        cursor: text;
        outline: none;
        overflow-y: auto;
        }
        .empty p {
            position: relative;
            left:40px;
        }
        #mainbtn,#mainbtn1{
            background-color: rgb(35, 11, 100);
            position:absolute;
            top:200px;
            left:80%;
            color: white;
            border-radius: 4px;
            border-top: 4px;
            border-bottom-style: dashed;
            width: 100px;
            height:40px;
            cursor: pointer;

        }
        #mainbtn1{
            top:300px;
        }

         
      
       
        .display{
            display: block;
            position: relative;
            width: 70%;
            top:10px;
            left:5px;
        }
        .display .file{
            display: inline-block;
            width: 200px;
            position: relative;
            height: 140px;
            padding-left: 20px;
            image-rendering: -webkit-optimize-contrast;
        }
        .file p {
            position: absolute;
            text-align: center;
            background-color: rgb(51, 53, 54);
            width: 195px;
            border-radius: 4px;
            border-bottom-color: rgb(47, 160, 150);
            border-bottom-style: solid;
            padding: 2px;
            top:110px;
            font-family: arvo;
            font-size: 10px;
            text-align: center;
            color: rgb(59, 134, 77);
            left:20px;
            overflow: hidden;
            height: 20px;
        }
        .display span{
            position: relative;
            left:340px;
            top:200px;
        }

      
    </style>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

$(document).ready(()=>{
    $("#mainbtn").on('click',()=>{
        $("#up_file").click();

    })
    $("#mainbtn1").on('click',()=>{
        Swal.fire({
                title:'Enter Email',
                input:'text',

            }).then((value)=>{
                $.ajax({
                    type:"POST",
                    url:"http://127.0.0.1:3000/add",
                    data:value,
                    success:function(response){
                        if(response==1){
                           Swal.fire("Added");
                        }else{
                            Swal.fire("User doesn't exist");
                        }

                    }
                })
            })
        })

})
    
    </script>
       <div class="main">

            
        <p id="corner">File Space</p>
        <p onclick="location.href='/logout'" id="logout">Log Out</p>

        <div class="about">
        
            <p>Aakash kumar</p>
           
        </div>
        <div class="panel">
            <p onclick="location='/panel'">Control Panel</p>
        </div>
        </div>

        <div class="display">
            <% if(locals.files){ %>
            <% console.log("browser",files[0]) %>
            <% for(let i=0;i<files.length;i++){ %>
            <% if(files[i].filetype=="jpg" || files[i].filetype=="png"){ %>
              
           <div class="file"><img src="/images/<%= files[0].identity %>/<%=files[i].filename %>" width="200px"height="140px" onclick="location.href='/images/<%=files[i].identity %>/<%=files[i].filename %>'"><p><%=files[i].filename %></p></div>
            <% }else if(files[i].filetype=="pdf"){ %>
          <div class="file" ><img src="/default/<%=files[i].filetype %>.png" width="200px" height="140px" onclick="location.href='/images/<%=files[i].identity %>/<%=files[i].filename %>'"><p><%=files[i].filename %></p></div>
           <% } else {%>
           <div class="file"><img src="/default/default.png" width="200px" height="140px" onclick="location.href='/images/<%=files[i].identity %>/<%=files[i].filename %>'"><p><%= files[i].filename %></p></div>
            <% } %>
           <% }  %>
            <% } %>
        </div>

        
    </body>
    </html>